{% load static  %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Training Studio - Free CSS Template</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %} ">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">Bin<em> 2Byte</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            {% comment %} <li class="scroll-to-section"><a href="#features">About</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Classes</a></li> {% endcomment %}
                            <li class="scroll-to-section"><a href="#contact-us">Track</a></li> 
                            <li class="scroll-to-section"><a href="#schedule">Report</a></li>
                            <li class="main-button"><a href="#">Sign Up</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'assets/images/network.mp4' %}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>code harder, make stronger</h6>
                <h2>track down<em>criminals</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#contact-us">Track Down</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <div>
    
    <center>
    <h3 style="">Privacy is a privilege, not a right online, it’s up to you to make sure that you make the most of that privilege by protecting yourself by taking security measures like updating passwords, using a VPN service, and updating your computer’s software often!</h3>
    </center>

    </div>
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                            {% csrf_token %}
                          <div class="row">
                            {% comment %} <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div> {% endcomment %}
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject-custom" placeholder="VPN SERVER IP ADDRESS">
                              </fieldset>
                            </div>
                            {% comment %} <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div> {% endcomment %}
                            <div class="col-lg-12">
                              <fieldset>

                                <a href="#schedule" class="scroll-to-section" class="active">
                                <button type="submit" id="form-submit" class="main-button">Track Down</button>
                                </a>

                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->

    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2>IP Logs<em>Information</em></h2>
                        <img src=" {% static 'assets/images/line-dec.png' %} " alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="filters">
                        <ul class="schedule-filter">
                            <li class="active">
                                {% comment %} {% for message in messages %}
                                    {{message}}
                                {% endfor %} {% endcomment %}
                            </li>
                        </ul>
                    </div>
                </div>
                {% comment %} <div class="col-lg-10 offset-lg-1"> {% endcomment %}

                    <h4 style="background-color: white;">

                        <br>
                        {% comment %} {% if ip == "13.233.214.241" %}
                            {% for r in result %}
                                {{r}}
                            {% endfor %}
                        {% endif %} {% endcomment %}

                    </h4>

                    <div class="schedule-table filtering">
                        <table>
                            <tbody>
                            {{sample}}
                                <tr>
                                    <td >Client Name</td>
                                    <td >Source IP</td>
                                    <td >Allocated IP</td>
                                    <td >Connection time</td>
                                </tr>
                                {% for r in result %}
                                    <tr>
                                        {% for x in r %} 
                                            
                                            <td colspan="4">{{ x }}</td>
  
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy Bin2Byte Solutions
                    
                    - Designed by Bin2Byte</p>
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %} "></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %} "></script>
    <script src="{% static 'assets/js/waypoints.min.js' %} "></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %} "></script>
    <script src="{% static 'assets/js/imgfix.min.js' %} "></script> 
    <script src="{% static 'assets/js/mixitup.js' %} "></script> 
    <script src="{% static 'assets/js/accordions.js' %} "></script>
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %} "></script>

  </body>
</html>