<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>VPN Logger</title>
</head>
<body>
    <br>
    <div class="container mt-3 mb-3">
        <center><h1>VPN Logger</h1></center>
    </div>
    <br>
    <hr>
    <br>
    <div class="container mt-3 mb-2">
            <form action="" method="post">
                {% csrf_token %}
                IP Address: <input type="text", name="ipv4"> <br><br>
                <button class="btn btn-primary" type="submit">get logs</button>
            </form>
    </div>

    {% for message in messages %}
        {{message}}
    {% endfor %}
    <br>
    {% if ip == "13.233.214.241" %}
        {% for r in result %}
            {{r}}
        {% endfor %}
    {% endif %}
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>